@use 'variables' as *;
.description {
  width: 100%;
  height: 56px;
   text-align: left;
  font-weight: 400;
  padding: 16px;
   background: linear-gradient(to right, $backgroundGrey, $whiteColor);
  color: $wordcolor;
  text-transform: uppercase;
  margin-top: 2px;
  margin-bottom: 16px;
  border-top: 1px solid $borderColor;
}
.description-2p {
   width: 100%;
  height: 56px;
   text-align: left;
  font-weight: 400;
  padding: 16px;
   background: linear-gradient(to right, $backgroundGrey, $whiteColor);
  color: $wordcolor;
   text-transform: uppercase;
  margin-top: 2px;
  margin-bottom: 16px;
  border-top: 1px solid $borderColor;
}
.text-price {
  width: 100%;
  height: 56px;
  padding: 16px;
   text-align: left;
  font-weight: 400;
    background: linear-gradient(to right, $backgroundGrey, $whiteColor);
  color: $wordcolor;
  text-transform: uppercase;
}
.price-description {
  width: 100%;
  height: 138px;
  font-weight: 400;
  font-size: 14px;
  padding-left: 16px;
  background-color: $backgroundGrey;
  color: $blackColor;
  margin-top: 16px;
}
.text-offer {
  padding-left: 16px;
}

