@use 'fonts';
@use 'texts' as *;
@use 'pictures' as *;
@use 'wrappers' as *;
@use 'slides' as *;
@use 'buttons' as *;
@use 'variables' as *;
@use '~swiper/css';
@use '~swiper/css/pagination';
@media (min-width: 320px) {
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'TT Lakes', sans-serif;
}
body {
  background-color: $backgroundGrey;
}
h1 {
  display: flex;
  align-items: center;
  padding-top: 20px;
}
header {
  background-color: $whiteColor;
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid $borderColor;

  & .burger-button {
    background-image: url('../img/burger.svg');
    overflow: hidden;
    outline: none;
    width: 40px;
    height: 40px;
    border: none;
    box-shadow: none;
    border-radius: 50%;
    cursor: default;
    &:active {
      transform: scale(0.95);
    }
    svg {
      filter: none;
    }
    &:hover {
      outline: none;
      box-shadow: none;
    }
  }
}

.tablet-text {
  display: none;
}
.header-tablet-icons {
  display: none;
  width: 400px;
  gap: 10px;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}
.header-leftside__stick {
  display: none;
}
.table-brands {
  display: none;
}
.main-title {
  margin: 0;
  padding: 0;
}
.main-picture {
  display: inline;
  width: 320px;
  border-radius: 6px;
}
.menu {
  display: flex;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  height: 40px;
  width: 100%;
  margin-top: 32px;
  button {
    background-color: $whiteColor;
    color: #7e7e82;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: default;
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
    &:hover {
      border: 2px solid #b8ffec;
    }
  }
}
.first-paragraph__text {
  font-weight: 400;
  font-size: 14px;
  width: 360px;
}
.repair {
  display: none;
}
.continuation {
  font-weight: 500;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin-bottom: 16px;
  & .continuation-title {
    font-weight: 500;
  }
}

.swiper.brands {
  backround-color: $backgroundGrey;
  margin: 0;
  padding: 0;
  margin-left: 0;
  padding-left: 0;
}
.swiper-wrapper.brands {
  background-color: $backgroundGrey;
  min-width: 320px;
  width: 100%;
  height: 234px;
  margin-left: 16px;
}

.swiper-pagination.swiper-pagination-prices {
  bottom: 0;
  position: static;
}
.hidden-button {
  display: none;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  width: 100%;
  color: $wordcolor;
  min-width: 320px;
  height: 129px;
  background-color: $backgroundGrey;
  border-top: 1px solid $borderColor;
  padding: 16px;
  & p {
    color: $wordcolor;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    margin: 0;
  }
}

@media (min-width: 768px) {
  .header-tablet-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
  }
  .header-leftside__stick {
    display: block;
  }
  .burger-button {
    display: block;
  }
  .tablet-text {
    display: block;
  }
  .hidden-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .first-paragraph {
    font-family: 'TT Lakes';
    font-size: 14px;
    width: 100vw;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .table-brands {
    background-color: $backgroundGrey;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
  }
  .table-brands > *:nth-child(n + 7) {
    display: none;
  }
  .brands.expanded > *:nth-child(n + 7) {
    display: flex;
  }

  .swiper.brands {
    display: none;
  }
  .swiper.swiper-repair {
    display: none;
  }
  .repair {
    background-color: $backgroundGrey;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
  }
  .repair > *:nth-child(n + 4) {
    display: none;
  }
  .swiper.swiper-prices {
    display: none;
  }
}
